.DS_Store

apps/flyd-sim/data/
apps/flyd-sim/tests/testdata/

apps/net-sim/target/
target/

apps/net-sim/net_sim

apps/phoenix_ui/e2e/node_modules/

apps/phoenix_ui/e2e/test-results.env

.env

apps/flyd-sim/server

infra/region-router/router
cli/aeropctl/aeropctl
apps/flyd-sim/server

/apps/phoenix_ui/priv/static/assets
/apps/phoenix_ui/priv/static/cache_manifest.json
/apps/phoenix_ui/priv/static/js
/apps/phoenix_ui/priv/static/css
apps/phoenix_ui/priv/static/*.gz
apps/phoenix_ui/priv/static/cache_manifest.json
/apps/phoenix_ui/priv/static/*
/apps/orchestrator/data/*
/apps/flyd-sim/bin/*
.vscode
*.aegis.bak
aegis_final.py
apps/orchestrator/bin/flyd-sim
